<main>
<!--   Kacheln -->

  <div class="tiles-container">
    <div class="tiles">
      <app-tile *ngFor="let tile of configService.config.tiles" [color]="tile.color" [title]="tile.title"
                [description]="tile.description" [iconUrl]="getIcon(tile.title)" [url]="tile.url"></app-tile>
    </div>
  </div>

<!--  IFrames-->
  <div class="iframes">
    <div class="iframe" *ngFor="let iframe of configService.config.iframes">
      <object  [data]="getTrustedSrc(iframe.src)" width="300px" height="280px"></object>
    </div>
  </div>
</main>

